{% extends "base.html" %}
{% load bootstrap4 %} 
{% block title %}top{% endblock %}

{% block content %}
    <p>{{ top }}</p>
    <form action="{% url 'docsearch:update' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="update files">
    </form>
    <p>
        {{ search }}
    </p>
    <form action="{% url 'docsearch:search_result' %}" method="get">
        {% bootstrap_form form layout='horizontal' %}
        <input type="submit" value="search files" />
    </form>
{% endblock %}