<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link href="{% static 'docsearch/css/bootstrap.min.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'docsearch/MathJax/MathJax.js' %}?config=TeX-MML-AM_CHTM"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
            extensions: ["MathMenu.js", "MathZoom.js"],
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            },
            CommonHTML: { matchFontHeight: false }
        });
    </script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <h1><a href="{% url 'docsearch:top' %}" target="_self" class="mt-4"> Markdown Rendering App </a></h1>
        <script src="{% static 'docsearch/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'docsearch/js/bootstrap.bundle.min.js' %}"></script>
        {% block content %}{% endblock %}
    </div>    
</body>
</html>